
.ad-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.ad-container {
animation: fade-in 1s ease-out;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 50px rgb(255, 0, 0);
}

.animated-ad-img {
  max-width: 400px;
  max-height: 90vh;
  border-radius: 10px;
  animation: pulse 1s infinite alternate;
}

.animated-ad-video {
  width: 100%;
  height: auto;
  max-height: 90vh;
  border-radius: 10px;
}

@keyframes fade-in {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
